---
---
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	cursor: default;
}
body {
	background-image: url("/hacking/greenscreen.png");
	background-size: 100% 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.terminal-off {
	background-image: url("/hacking/grayscreen.png");
}
#click-to-start, #please-rotate {
	width: 100%;
	height: 100%;
}
#click-to-start p, #please-rotate p {
	position: absolute;
	left: 50%;
	top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.terminal-off #effects1:before { 
	animation: initial;
	opacity: 0.14;
}
#effects1:before { 
    content: '';
    width : 100%;
    height : 100%;
    position : absolute;
    top : 0px;
    left : 0px;
    background: linear-gradient(#375 50%, #111 50%);
    background-size: 100% 6px;
    animation: pulse 5s linear infinite;
    mix-blend-mode: darken;
    pointer-events: none;
    z-index: 10000;
}
#effects2,#effects1{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}
.activeCommandPrompt {
	display: inline;
}
#loading {
	line-height: 0px;	/* Why the fuck is this necessary? CSS is so shit! */
}
.cp {
	line-height: normal;
	padding: 0 0 2% 0 !important;
}
.cp:empty {
	display: none !important;
}
p, a, .post *{
	margin: 0;
	color: #4F5;
	background: transparent;
	text-shadow: 0em 0em 0.5em #23824C;
	font-family: monospace;
	font-weight: bold;
	font-size: 1.7vw;
}
.highlight, .bracketpair, #click-to-start p, #please-rotate p, .post-title-p:hover{
	color: #062414;
	text-shadow: 0em 0em 1em #23824C;
	background: #4F5;
}
#hacking, #loading{
	padding: 3vw 0em 0em 3vw;
}
.content {
	margin: 2em 0 0 0;
	vertical-align:top;
	display: inline-block;
	position: absolute;
	white-space:nowrap;
}
.pointers {
	width: 7%;	
}
.symbols {
	margin: 2em 2% 0 2%;
	width: 25%;
}
.results {
	width: 26%;
	position: relative;
	height: 100%;
	left: 75%;
}
#leftptr {
}
#rightptr {
	left: 40%;
}
#leftsymb {
	left: 10%;
}
#rightsymb {
	left: 47%
}
#entry {
	bottom: 0;
}
@keyframes flash {	
	0% { opacity: 0.0; }
	50% { opacity: 1.0; }
	100% { opacity: 0.0; }
}
@-webkit-keyframes flash {
	0% { opacity: 0.0; }
	50% { opacity: 1.0; }
	100% { opacity: 0.0; }
}
@keyframes pulse {
  0%   {transform: scale(1.001);  opacity: .14; }
  8%   {transform: scale(1.000);  opacity: .13; }
  15%  {transform: scale(1.004);  opacity: .14; }
  30%  {transform: scale(1.002);  opacity: .11; }
  100% {transform: scale(1.000);  opacity: .14; }
}
@-webkit-keyframes pulse {
  0%   {transform: scale(1.001);  opacity: .14; }
  8%   {transform: scale(1.000);  opacity: .13; }
  15%  {transform: scale(1.004);  opacity: .14; }
  30%  {transform: scale(1.002);  opacity: .11; }
  100% {transform: scale(1.000);  opacity: .14; }
}
#command-prompt, #cp-cursor{
	display: inline;
}
.cursor-on{

}
.cursor-off{
	display: none !important;
}
.cursor-flash{
	animation: flash 0.5s step-start 0s infinite;
	-webkit-animation: flash 0.5s step-start 0s infinite;
}
.blinker {
	animation: flash 1s step-start 0s infinite;
	-webkit-animation: flash 1s step-start 0s infinite;
}
#splashpage {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#loggedin * {
	font-size: 1.5vw;
}
#loggedin h1, #loggedin h2, #loggedin h3, #loggedin h4, #loggedin h5, #loggedin h6 {
	font-size: 3vw;
}
#os-header {
	text-align: center;
}
#divider {
	height: 0.5vh;
	background: #4F5;
	width: 80%;
	box-shadow: 0em 0em 0.5em #23824C;
	margin: 0 0 0 10%;
}
#welcome, .post, .post-title {
	padding: 0.25% 0 0.25% 10%;
	text-align: left;
	width: 80%;
}
.post {
	text-align: justify;
}
.post p {
	padding: 1% 0 1% 0;
	clear: both;
}
#post-titles-container {
	padding-top: 15px;
	padding-bottom: 45px;
}
#post-container, #loading, #command-prompt {
	height: 100%;
}
img {
	max-width: 100%;
	display: block;
	filter: contrast(1000%);
 	mix-blend-mode: luminosity;
}
.image-color {
	float: left;
	box-shadow: 0em 0em 2em #4F5;
 	background-color: #4F5;
}
.image-container{
	margin: 0 auto;
	display: table;
}
.emoji-container{
	display: none !important;
}
.image-container + em {
	font-size: 1.7vw !important;
	display: block;
	text-align: center;
}
/* Encourage user to use in landscape */
@media (orientation: portrait) {
      .portrait{display: block !important;}
      .portrait p {font-size: 32px !important;}
      .landscape{display:none;}
      body{background: #111;}
}
/* YouTube stuff */
.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	box-shadow: 0em 0em 2em #4F5;
    background-color: #4F5;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	mix-blend-mode: luminosity;
}
@-moz-document url-prefix() {
    img {
        width: 100%;
    }
}
/* Everything to do with the bottom right corner 'information' box goes below */
#information {
	display: none;
	position: absolute;
	z-index: 1000000000;
	bottom: 0;
	right: 0;
	padding: 5px;
	padding-bottom: 0px;
	border-radius: 7px 0 0 0;
	border: 1px solid #000;
	border-bottom-width: 0px;
	border-right-width: 0px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	background-color: {{ site.style.background-hex }};
}
#information.hide {
	opacity: 0;
}
#information.hide:hover {
	opacity: 0.5;
}
/* Display information only on non-mobiles */
@media only screen and (min-width: 1000px) {
    #information {
    	display: block;
    }
}
#information-by {
	font-size: 15px;
}
#information-em {
	font-size: 17px;
}
#information-anchor {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}
#information-anchor.open{
	position: relative;
	left:40px;
}
#information-image-container {
	padding-right: 5px;
}
#information-image-color {
	border-radius: 100%;
	box-shadow: 0em 0em 5px #4F5;
}
#information-image {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
#information-text p {
	font-size: 12px;
	width: 300px;
	padding-bottom: 2px;
}
#information-text {
	display: none;
}
#information-text.open{
	display: block;
}
#information-text p a {
	font-size: 12px;
}
.close {
	width: 20px;
	height: 30px;
	margin-left: 2px;
	position: relative;
	display: inline-block;
}
.close.open {
	left: 75px;
}
.close:hover {
	background: #4F5;
}
.close:hover:before, .close:hover:after {
	background: #062414;
}
.close:before, .close:after {
	position: absolute;
	right: 9px;
	content: ' ';
	height: 15px;
	width: 3px;
	top: 9px;
	background: #4F5;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

/* Chevron thanks to https://codepen.io/jonneal/ */
.chevron {
	padding: 6px;
	padding-bottom: 7px;
	bottom: 11px;
	position: relative;
}
.chevron:hover {
	background: #4F5;
}
.chevron:hover:before, .chevron:hover:after {
	border-color: #062414;
}
.chevron:before {
	border-color: #4F5;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 24px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.chevron.open:before {
	top: 19px;
	transform: rotate(135deg);
}
/* End Chevron */

/* Mute thanks to https://codepen.io/MarvinVK/ */
.speaker-container {
	height: 30px;
	width: 30px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.speaker {
	display: block;
	width: 8px;
	height: 8px;
	background: #4F5;
	margin: 11px 0 0 2px;
}
.speaker-container:hover {
	background: #4F5;
}
.speaker-container:hover .speaker {
	background: #062414;
}
.speaker-container:hover .speaker:after {
	border-color: transparent #062414 transparent transparent;
}

.speaker-container:hover .speaker:before {
	border-color: #062414;
}
.speaker:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #4F5 transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
.speaker:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #4F5;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
.speaker-container.mute .speaker:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
