---
layout: default
donotlinkback: true
custom_style_includes:
- splashpage
- background
- postlist
- mailchimp
custom_js_includes:
- highlight
- emailprotect
background: "background-homepage.jpg"
background-color: "#160B04"
image: me.png
---
{% if paginator.page == 1 %}
<div id="splash-container">
	<div id="splash">
		<div id="image"></div>
		<div id="text"><p>
			I'm Jet, a <a href="http://www.ecs.soton.ac.uk/programmes/g401-meng-computer-science-4-yrs">CS</a> <a href="/all-of-school/">graduate</a> who enjoys working on his own <a href="/projects/">projects</a>. I'm known for my <a href="https://frequencycentral.co.uk/product-tag/Jetroid/">Eurorack synth modules</a>. I'm currently <a href="/trips/">travelling</a> in Asia.
			You can <a href="/index/">read all of my posts here</a><span id="mail"></span>.
		</p></div>
	</div>
</div>
{% else %}
<div id="page-header">
	<h1 id="page-title">Page {{ paginator.page }}</h1>
</div>
{% endif %}
<div id="posts">
    {% assign count = 0 %}
	{% for post in paginator.posts %}
	<div class="post">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="background-container">
				<div id="p{{count}}" class="post-background"
					{% if post.background-position or post.background-color %}
						style="
						{% if post.background-position %}background-position:{{ post.background-position }};{% endif %}
						"{% endif %}
				></div>
				<div class="post-shadow">
					<div class="wtf-text-underline">
					<h2 class="post-title">{{ post.title }}</h2>
					<p class="post-date">{{ post.date | date: "%Y/%m/%d" }}</p>
					<div class="divider"></div>
					<p class="post-summary">{{ post.summary }}</p>
					</div>
				</div>
			</div>
		</a>
	</div>
	<!-- Mailchimp email signup for 3rd item on first page !-->
	{% if paginator.page == 1 and count == 2 %}
		{% assign count = count | plus: 1 %}
		<div class="post">
			<div class="background-container">
				<div id="p{{count}}" class="post-background" style="background-color: #010103"></div>
				<div class="post-shadow">
					{% include mailchimp.html %}
				</div>
			</div>
        </div>
	{% endif %}
	{% assign count = count | plus: 1 %}
	{% endfor %}
</div>
<div id="navigation">
	{% if paginator.previous_page %}
		<a id="prev-post" href="{{paginator.previous_page_path}}">&lsaquo;Page {{ paginator.previous_page }}</a>
	{% else %} <p id="prev-post">&nbsp;&nbsp;---</p>
	{% endif %}
	{% if paginator.next_page %}
		<a id="next-post" href="{{paginator.next_page_path}}">Page {{paginator.next_page}}&rsaquo;</a>
	{% else %} <p id="next-post">---&nbsp;&nbsp;</p>
	{% endif %}
</div>
