---
layout: default
donotlinkback: true
custom_style_includes:
- splashpage
- background
- postlist
- mailchimp
custom_js_includes:
- highlight
background: "background-homepage.png"
background-color: "#160B04"
image: me.png
---
<div id="splash-container">
	<div id="splash">
		<div id="image"></div>
		<div id="text"><p>
			I'm Jet. <a href="/projects/">Maker</a>, <a href="https://github.com/Jetroid">programmer</a>, and <a href="http://www.ecs.soton.ac.uk/programmes/g401-meng-computer-science-4-yrs">CS</a> <a href="/all-of-school/">graduate</a>. 
			You can read all of my posts <a href="/index/">here</a>.<br />
			<!-- /* Email address protector script - I used http://rumkin.com/tools/mailto_encoder/ !-->
			<script type="text/javascript">
				ML="j.=fh\"o:tas i<l/>ced@rmn";
				MI="=9;4EB325F9<>8674B>>6D0B846>81A6F5@:BGC;FB;9G;BF9<>=?9@";
				OT="";
				for(j=0;j<MI.length;j++){
				OT+=ML.charAt(MI.charCodeAt(j)-48);
				}document.write("You can also " + OT);
			</script>.
		</p></div>
	</div>
</div>
<div id="posts">

    {% assign count = 0 %}
	{% for post in site.posts %}
	{% if post.unlisted != true or count == 0 %}
	<div class="post">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="post-background" style="background-image: url(/assets/images/{{ post.background }});{% if post.background-color %}background-color:{{ post.background-color }}{% endif %}">
				<div class="post-shadow">
					<h2 class="post-title">{{ post.title }}</h2>
					<p class="post-date">{{ post.date | date: "%Y/%m/%d" }}</p>
					<div class="divider"></div>
					<p class="post-summary">{{ post.summary }}</p>
				</div>
			</div>
		</a>
	</div>
	{% endif %}
	<!-- Mailchimp email signup for 3rd item !-->
	{% if count == 2 %}
        <div class="post">
            <div class="post-background" style="background-image: url(/assets/images/mailchimp-beauty.jpg); background-color: #010103">
			    <div class="post-shadow">
                    {% include mailchimp.html %}
                </div>
		    </div>
        </div>
	{% endif %}
	{% assign count = count | plus: 1 %}
	{% endfor %}
</div>
