---
layout: default
donotlinkback: true
title: jetroid@netricsa
favicon: terminal-favicon.ico
summary: An interactive UNIX terminal simulator by Jetroid.
background: terminal-square.png
nobackground: true
category: "project"
nopresets: true
inline_css:
- terminal
custom_js:
- /assets/js/terminal.js
custom_preconnect:
- jetroidcors.herokuapp.com
---
<script>
var FilesystemObject = function(name,type,protections,owner,group,date,parent) {
	this.name = name ;
	this.type = type;
	this.protections = protections;
	this.owner = owner;
	this.group = group;
	this.date = date || new Date();
	this.content = {};
	this.content[".."] = parent || this;
	this.content["."] = this;
};
var blogposts = new FilesystemObject("blog","directory","755","jetroid","users",
	new Date(Date.parse("{{ site.posts[0].date }}")));
{%- for post in site.posts -%}
{%- capture posttitle -%}{{ post.date | date: '%Y-%m-%d-' }}{{ post.url | replace: '/', '' | downcase }}.html{%- endcapture -%}
blogposts.content["{{ posttitle }}"] = new FilesystemObject("{{ posttitle }}","file","755","jetroid","users", new Date(Date.parse("{{ post.date }}")), blogposts);
blogposts.content["{{ posttitle }}"].content["text"] = "blogurl({{post.url}})";
{%- endfor -%}
</script>
<div id="container">
	<div id="terminal-container">
		<div id="history">
		</div>
		<div id="prompt" style="display: none;">
			<p>
				<span class="pink"><span id="time">17:39:32</span> <span id="user">jetroid</span>@netricsa</span>:<span id="error-code">0</span><span id="path">~</span>$ <span id="input"></span>
				<input id="data" type="text" autocapitalize="none" spellcheck="false"/>
			</p>
		</div>
		<div id="recommendations" style="display: none;">
		</div>
	</div>
	<div id="shutdown-container" style="display: none;"></div>
</div>
<div id="information">
	<div id="information-header">
		<span id="information-expand-shrink" class="chevron" onclick="maximiseInfo();"></span>
		<a id="information-anchor" href="https://twitter.com/JetroidMakes/">
			<div id="information-image-container" class="image-container">
				<div id="information-image-color" class="image-color">
					<img id="information-image" src="/assets/images/rsz_me.png">
				</div>
			</div>
			<p id="information-by">by <em id="information-em">Jet Holt</em></p>
		</a>
		<span id="information-hide" class="close" onclick="hideInfo();"></span>
	</div>
	<div id="information-text">
		<p>
		<span itemprop=”description”>UNIX Terminal simulator by Jetroid.</span>
		Created as part of a <a href="https://twitter.com/JetroidMakes/status/1094534029964062720">live tweet session</a>. Inspired by a <a href="/old-terminal/">much older version</a> that I made to get to grips with HTML, CSS, and JavaScript. I can be contacted
		<script type="text/javascript" language="javascript">
			ML="hl/j< air\"@ocemf:=>.t";
			MI="46508=?A9>671D;@0=11;:3=D0;1DC<;>9B0=8=426B";
			OT="";
			for(j=0;j<MI.length;j++){
			OT+=ML.charAt(MI.charCodeAt(j)-48);
			}document.write(OT);
		</script>.
		</p>
		<div class="social-links">
			<a href="https://twitter.com/JetroidMakes">{% include logos/twitter.html %}</a>
			<a href="https://www.instagram.com/jetroidmakes/">{% include logos/instagram.html %}</a>
			<a href="https://github.com/Jetroid/">{% include logos/github.html %}</a>
		</div>
	</div>
</div>
