.eduandtravel {
	background:  var(--gray);
}

.education {

	.showcase {
		padding-left: 50px;
	}
	@media(max-width: 1150px) {
		.showcase {
			padding-top: 120px;
			padding-bottom: 120px;
			padding-left: 0px;
			margin: auto;
			width: 400px;
		}
	}

	img {
		width: 400px;
		border: var(--lightblue) 5px solid;
	}

	.graduation {
		transform: rotate(-1deg);
		.nogown {
			left: 30px;
			svg {
				transform: scale(-0.75,0.75);
				top: -100px;
			}
			p {
				max-width: 300px;
				left: 60px;
				top: -230px;
			}
		}
	}


	.hackathon {
		transform: rotate(1deg);
		margin-top: 20px;
		.hackathon-comment {
			left: 30px;
			svg {
				transform: scale(0.75,-0.75);
				left: 270px;
			}
			p {
				max-width: 300px;
				left: -25px;
				top: -80px;
			}
		}
	}

}

.travel {

	img {
		width: 400px;
	}

	.showcase {
		transform: translate(20px, 40px);
	}
	@media(max-width: 1150px) {
		.showcase {
			width: 450px;
			height: 520px;
			margin: auto;
		}
	}

	.card {
		position: absolute;
	}

	.card:first-of-type {
		transform: rotate(4deg) translate(0px, 100px);
	}

	.card:nth-child(2) {
		transform: rotate(-6deg) translate(40px, 70px);
	}

	.card:nth-child(3) {
		transform: rotate(-3deg) translate(20px, 35px);
	}

	.card:nth-child(4) {
		transform: translate(60px, 10px);
	}

	.card:hover {
		transform: translate(40px, 20px) scale(1.1);
		z-index: 5;
	}

	.postcard-comment {

		p {
			width: 400px;
			top: 300px;
			left: 30px;
		}

		svg {
			top: 365px;
			left: -25px;
			transform: rotate(-67deg);
		}
	}
}