body{
	font-family: monospace;
	color: {{ site.style.text }}
}

#about-images .imageContainer {
    position: relative;
    width: 23%;
    padding-bottom: 23%;
    float: left;
    height: 0;
    margin: 1%;
    border-radius: 100%;
    background: #393631;
    background-position: center;
		background-size: cover;
}
.clearer { clear: both; }

#about-content {
	margin: 10px;
	width: auto;
}
#about-text {
	margin: 10px 0;
	border-radius: 15px;
	padding: 2px 20px 2px 20px;
	line-height: 1.5;
	background: rgba({{ site.style.background-rgb }} 0.7);
}

#timeline {
  position: relative;
}
#timeline::before {
  /* vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 76px;
  height: 100%;
  width: 4px;
  border-radius: 5px;
  background: {{ site.style.text }};
}
.timeline-block {
  position: relative;
  margin: 10px 0;
  min-height: 50px;
}
.timeline-block-date{
	position: absolute;
	margin: 0;
}
.timeline-block-date-year {
	font-size: 25px;
	color: {{ site.style.highlight }};
}
.timeline-block-date-specific {
	padding: 25px 2px;
	font-size: 14px;
	color: {{ site.style.text }};
}
.timeline-block-content::before{
	/* horizontal marker */
  content: '';
  position: absolute;
  top: 14px;
 	left: -30px;
  height: 4px;
  width: 22px;
  border-radius: 5px;
  background: {{ site.style.text }};
}
.timeline-block-content {
	position: relative;
	margin-left: 100px;
	padding: 2px 20px 2px 20px;
	border-radius: 15px;
	line-height: 1.5;
	background: rgba({{ site.style.background-rgb }} 0.7);
}
.timeline-block-content a {
	color: {{ site.style.highlight }};
	text-decoration: none;
}
/* Different looks for non-mobiles... */
@media (min-width: 750px){
	#timeline-container, #about-container {
		vertical-align: top;
		display: inline-block;
		width: 49%;
		font-size: 2vh;
	}
	#about-content {
		padding: 25px;
		margin: 10px 25px;
	}
	.timeline-block-content{
		line-height: initial;
	}
}
/* Different look for large screens */
@media (min-width: 1440px){
	#timeline::before {
  	/* vertical line */
  	left: 150px;
	}
	.timeline-block-content {
		margin-left: 174px;
	}
	.timeline-block-date-year {
		font-size: 50px;
	}
	.timeline-block-date-specific,#about-text {
		padding: 50px 4px;
		font-size: 28px;
	}
}
