body {
  background-image: url("/assets/images/{% if page.background.image %}{{ page.background.image }}{% else if layout.background.image %}{{ layout.background.image }}{% else %}default-background.jpg{% endif %}");
  background-position: {% if page.background.position %}{{ page.background.position }}{% else %}center{% endif %};
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
