body{
	font-family: monospace;
	color: {{ site.style.text }}
}
#page-header{
	width: 100%;
	padding: 2em 0;
	text-align: center;
}
/* Bigger header on larger screens */
@media (min-width: 1081px){
	#page-header{
		padding: 10vh 0;
	}
}
#page-title{
	color: {{ site.style.highlight }};
	font-family: "Roboto",Helvetica,sans-serif;
	font-weight: 100;
	margin-bottom: 5px;
	font-weight: bold;
	text-shadow: 2px 2px {{ site.style.background-hex }};
	font-size: 8vh;
}
#page-subtitle{
	margin: 0;
	font-weight: bold;
	text-shadow: 2px 2px {{ site.style.background-hex }};
}
.divider{
	width: 100%;
	height: 0.3vh;
	background: {{ site.style.text}};
	display: block;
}
#post-content > h1:first-child,
#post-content > h2:first-child{
    padding-top: 20px;
}
#post-content *, p {
	font-size: 3vh;
}
/* Make font size less gaudy on large screens */
@media (min-width: 500px){
	#post-content *, p {
		font-size: 2.5vh;
	}
}
#post-content h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4vh;
}
.post-date {
	margin-top: 0;
	margin-bottom: 0;
}
.post-container, #navigation{
	padding-top: 20px;
	padding-bottom: 20px;
}
.post-container a {
	display: inline;
	color: {{ site.style.highlight }};
	text-decoration: none;
}
.post-container a h2 {
	display: inline;
}
.post-container img {
	display: block;
	max-width: 100%;
	min-width: 50%;
	min-height: 50%;
	height: auto;
	margin: 0 auto;
}
#post-content > p:first-child {
	margin-top: 1vh;
}
/* Captions for images */
img + em {
	display: block;
	text-align: center;
}
/* Quotes */
blockquote {
	background: rgba({{ site.style.background-rgb }} 0.3);
	border: 2px solid {{ site.style.highlight }};
	border-style: none none none solid;
	margin: 1em 0
}
/*Make blockquote more eye-catching on desktops*/
@media (min-width: 500px){
	blockquote {
		margin: 1em 1em
	}
}
blockquote p {
	margin: 0 0 0 1em;
}
/* Source for quotes */
blockquote + em {
	color: red;
}

/* Code blocks should wrap and be even more background-ier!*/
pre {
	white-space: pre-wrap;
	background: {{ site.style.background-hex }};
}
/* Justify text on non-mobiles */
@media (min-width: 500px){
	#post-content > p {
		text-align: justify;
	}
}
/* Next Post and Previous Post buttons */
#navigation {
	margin: 0;
	font-size: 3vh;
	display: block;
	width: auto;
	overflow: hidden;
}
#navigation .divider {
    margin-bottom: 20px;
}
#navigation a, #navigation p {
	margin: 0;
	display: block;
	width: 100%;
	margin: 5px 0;
}
#navigation #next-post {
	text-align: right;
}
@media (min-width: 500px){
	/* Break the navigation out on to one line on larger screens */
	#navigation a, #navigation p {
		width: 50%;
		float: left;
		margin: 0;
	}
}
/* YouTube stuff */
.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
/* Size the borders responsively */
.borders{
	padding-left: 5vh;
	padding-right: 5vh;
}
@media (min-width: 500px){
	.borders{
		padding-left: 10vh;
		padding-right: 10vh;
	}
}
@media (min-width: 800px){
	.borders{
		padding-left: 20vh;
		padding-right: 20vh;
	}
}
@media (min-width: 1000px){
	.borders{
		padding-left: 30vh;
		padding-right: 30vh;
	}
}
