body{
	font-family: monospace;
	color: {{ site.style.text }}
}
#page-header{
	width: 100%;
	padding: 2em 0;
	text-align: center;
}
/* Bigger header on larger screens */
@media (min-width: 1081px){
	#page-header{
		padding: 10vh 0;
	}
}
#page-title{
	color: {{ site.style.highlight }};
	font-family: "Roboto",Helvetica,sans-serif;
	font-weight: 100;
	margin-bottom: 5px;
}
#page-subtitle{
	margin: 0;
}
.divider{
	width: 100%;
	height: 0.3vh;
	background: {{ site.style.text}}
}
#post-content *, p {
	font-size: 3vh;
}
h1{
	font-size: 8vh !important;
}
#post-content h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4vh !important;
}
.post-date {
	margin-top: 0;
	margin-bottom: 0;
}
.post-container, #navigation{
	background: rgba({{ site.style.background-rgb }} 0.7);
	padding-top: 5px;
	padding-bottom: 20px;
}
.post-container a {
	display: inline;
	color: {{ site.style.highlight }};
	text-decoration: none;
}
.post-container a h2 {
	display: inline;
}
.post-container img {
	display: block;
	max-width: 100%;
	min-width: 50%;
	min-height: 50%;
	height: auto;
	margin: 0 auto;
}
#post-content > p:first-child {
	margin-top: 1vh;
}
/* Captions for images */
img + em {
	display: block;
	text-align: center;
}
/* Quotes */
blockquote {
	background: rgba({{ site.style.background-rgb }} 0.3);
	border: 2px solid {{ site.style.highlight }};
	border-style: none none none solid;
	padding: 0.6em 2em;
}
blockquote p {
	margin: 0;
}
/* Source for quotes */
blockquote + em {
	color: red;
}
/* Code blocks should wrap and be even more background-ier!*/
pre {
	white-space: pre-wrap;
	background: {{ site.style.background-hex }};
}
/* Justify text on non-mobiles */
@media (min-width: 500px){
	#post-content > p {
		text-align: justify;
	}
}
/* Next Post and Previous Post buttons */
#navigation {
	margin: 0;
	padding: 5px;
	font-size: 3vh;
	display: block;
	width: auto;
	overflow: hidden;
}
#navigation * {
	margin: 0;
	display: block;
	width: 100%;
	margin: 5px 0;
}
#navigation #next-post {
	text-align: right;
}
@media (min-width: 500px){
	/* Break the navigation out on to one line on larger screens */
	#navigation * {
		width: 50%;
		float: left;
		margin: 0;
	}
}
/* YouTube stuff */
.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Size the borders responsively */
.post-container, #navigation, #page-subtitle{
	padding-left: 5vh;
	padding-right: 5vh;
}
@media (min-width: 500px){
	.post-container, #page-title, #page-subtitle{
		padding-left: 10vh;
		padding-right: 10vh;
	}
}
@media (min-width: 800px){
	.post-container, #page-title, #page-subtitle{
		padding-left: 15vh;
		padding-right: 15vh;
	}
}
