body {
	 background-color: #160B04;
}
#index > h1, #index > p {
	padding-bottom: 5px;
	text-align: center;
}
h1, p {
	margin: 0;
}
h1 + p{
	text-align: justify;
}
p + p{
	padding-top: 10px;
}
.post td {
	padding: 5px;
}
.micro > td {
	font-size: xx-small;
}
.micro > td:nth-of-type(1) > h1 > time {
	font-size: smaller;
}
#index {
	padding-top: 40px;
}
@media (min-width: 500px){
	#index {
		padding: 40px 30px;
	}
}
@media (min-width: 900px){
	#index {
		padding: 80px 20vw;
	}
}