html{
	overflow-y: scroll;
}
body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#nav {
	padding-top: 5px;
  line-height:0;
	background: rgba({{ site.style.background-rgb }} 0.9);
	font-family: monospace;
	text-align:justify;
	color: {{ site.style.text }};
}
#nav:after {
  content:'';
  display:inline-block;
  width:99%;
  vertical-align:top;
}
#nav > * {
	line-height:3vh;
  display:inline-block;
}
#nav a {
	display: inline;
	color: {{ site.style.text }};
	text-decoration: none;
}
#nav ul {
	display: inline-block;
	margin: 0;
	text-align: right;
	list-style: none;
	padding: 0;
}
#nav ul li {
	right: 0;
	padding: 20px 0.5vw 5px 3vw;
	display: inline;
}
#nav a > p {
	display: inline;
	font-size: 3vh;
}
#nav > a {
	color: {{ site.style.highlight }};
	bottom: 0;
}
#nav > a > p {
	padding: 5px 5px 5px 5px;
	top: initial;
	bottom: 0;
}
#nav a:hover{
	position: relative;
	top: 3px;
}
#nav a:active{
	color: {{ site.style.highlight }};
}
.nobr	{ white-space:nowrap; }

#blog-dropdown {
	display: inline;
	position: relative;
}
.dropdown-content {
		display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba({{ site.style.background-rgb }} 0.9);
}
.dropdown-content a {
    padding: 4px 16px;
    text-decoration: none;
    display: block !important;
}
/* Mobiles shouldn't show option for alternate blog types */
@media (min-width: 500px){
	#blog-dropdown:hover .dropdown-content {
		  display: block;
	}
}

/* Different looks for small mobiles... */
@media (max-width: 395px){
	#nav ul li {
		width: 25vw;
		padding: 20px 0 5px 0;
	}
	#nav > a, #nav > ul {
		display: block;
	}
}
