body {
	overflow-x: hidden;
}


.full-page {
  width: 100%;
  height: 100vh;
  padding: 50px;
}
#fps {
  left: 0px;
  top: 0px;
}

/* This should be for every page as it defines how titles are drawn sitewide. */
.title-wrapper {
  padding: 40px;
  display: block;
  position: relative !important;
  float: left;
  clear: both;
}
.title-wrapper h1,
.title-wrapper h2,
.title-wrapper h3,
.title-wrapper h4,
.title-wrapper h5,
.title-wrapper h6 {
  font-weight: 1000;
  position: relative;
  z-index: 10;
  color: #d05d5d;
  text-shadow: 2px 1px #373731;
  display: inline;
}
.title-wrapper h1{
  font-size: 50px;
}
.title-wrapper h2{
  font-size: 40px;
}
.title-wrapper h3{
  font-size: 30px;
}
.title-wrapper h4{
  font-size: 20px;
}
.title-wrapper h5{
  font-size: 10px;
}
.title-wrapper h6 {
  font-size: 5px;
}
.title-wrapper canvas {
  position: absolute;
}


/* This is for the parallax header thing */
.hero-container-wrapper {
  height: 775px;
  overflow-y: visible;
  z-index: 50;
  margin-top: -20px;
  margin-bottom: -40px;
  position: relative;
}
.hero-container {
  width: 100%;
  position: relative;
}
.scene {
  margin: 0;
  padding: 0;
}
.scene > div {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.scene > div:first-child {
  position: relative;
}
.scene div img {
	display: block;
	z-index: 50;
  width: 1200px;
  margin: auto;
}
.header-wrapper {
  position: relative;
  top: 565px;
  width: 1200px;
  margin: auto;
}
.header-text {
	left: 650px;
	position: relative;
  font-size: 30px;
  font-weight: 1000;
  transform: rotate(-3.75deg) skew(-3.75deg);
  z-index: 51;
  pointer-events: all;
}
.header-text a {
  position: relative;
  text-shadow: 2px 1px #373731;
}
.header-text a:nth-child(2) {
  top: 40px;
}
.header-text a:nth-child(3) {
  top: 80px;
}





/* This is for the "Projects" section */
.projects-container {
  background: #0e0e0e;
  height: 300px;
  width: 100%;
  position: absolute;
}

.projects-container:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    height: 100px;
    width: 100%;
    background: inherit;
    pointer-events: none;
    -webkit-transform: translateZ(0) translateY(-45%);
    -moz-transform: translateZ(0) translateY(-45%);
    -ms-transform: translateZ(0) translateY(-45%);
    transform: translateZ(0) translateY(-45%);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -webkit-mask-image: url(/assets/images/svg/texture-edge2.svg);
    mask-image: url(/assets/images/svg/texture-edge2.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 110% auto;
    mask-size: 110% auto;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
}
