{%- assign url-filename = include.src | split: '.' | pop | join: '.' -%}
{%- assign url-extension = include.src | split: '.' | last -%}
<div class="image">
{%- unless include.nolink -%}
<a class="img" href="{{ include.src }}">
{%- endunless -%}
	<noscript>
		<img src="{{ include.src }}"{% if include.alt %} alt="{{ include.alt }}"{% endif %}/>
	</noscript>
	<img class="lazy"
		data-src="{{ include.src }}"
		{% unless include.noresize %}
		data-srcset="{{ url-filename }}-560.{{ url-extension }} 560w,
					{{ url-filename }}-655.{{ url-extension }} 655w,
					{{ url-filename }}-874.{{ url-extension }} 874w,
					{{ url-filename }}-1024.{{ url-extension }} 1024w,
					{{ url-filename }}-1230.{{ url-extension }} 1230w"
		data-sizes="82vw,
					(min-width:500px) 88vw,
					(min-width:800px) 76vw,
					(min-width:1000px) 64vw"
		{% endunless %}
		{% if include.alt %}alt="{{ include.alt }}"{% endif %}
	>
{%- unless include.nolink -%}
</a>
{%- endunless -%}
{% if include.caption %}<em>{{ include.caption }}</em>{% endif %}
</div>