body {
	 background-color: #160B04;
}
#index > h1:first-of-type, #index > p, .centered {
	padding-bottom: 5px;
	text-align: center;
}
table h1, p {
	margin: 0;
}
td > h1 {
	text-align: center;
}
h1 + p{
	text-align: justify;
}
p + p{
	padding-top: 10px;
}
tr td {
	box-sizing: border-box;
}
tr td:first-of-type:not(.page) {
	width: 63px;
}
tr td:nth-of-type(2) {
	display: none;
	width: 96px;
}
tr td:nth-of-type(3) {
	width: auto;
}
.post td, .micro td:nth-of-type(2){
	padding: 5px;
}
.micro > td:nth-of-type(1), .micro > td:nth-of-type(3) {
	font-size: xx-small;
}
.micro > td:nth-of-type(1) > h1 > time {
	font-size: smaller;
}
#index {
	padding-top: 40px;
}
@media (min-width: 500px){
	#index {
		padding: 40px 30px;
	}
}
@media (min-width: 900px){
	#index {
		padding: 80px 20vw;
	}
	tr td:nth-of-type(2) {
		display: table-cell;
	}
}
