<div id="mailchimp-signup">
<h2 id="mailchimp-text">Receive an email whenever I post. <span class="nobr">No spam, no ads,</span> <a class="nobr" href="http://us17.campaign-archive.com/home/?u=5c7e4e051f07ca709dea5942a&id=027962a690">just notifications</a></h2>
<form action="https://jetholt.us17.list-manage.com/subscribe/post?u=5c7e4e051f07ca709dea5942a&amp;id=027962a690" method="post" target="_blank">
	<input class="mailchimp-entry" type="text" name="FNAME" placeholder="Name" required>
	<input class="mailchimp-entry" type="email" name="EMAIL" placeholder="Email" required>
	<!-- real people should not fill this next one in and expect good things - do not remove this or risk form bot signups !-->
	<input type="text" name="b_5c7e4e051f07ca709dea5942a_027962a690" tabindex="-1" value="" hidden>
	<input id="mailchimp-submit" type="submit" value="Subscribe" name="subscribe" class="button">
</form>
</div>
