body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
html{
	overflow-y: hidden;
}
body{
	font-family: monospace;
	color: {{ site.style.text }};
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
a {
	text-decoration: none;
	color: {{ site.style.highlight }}
}
.nobr	{ white-space:nowrap; }
