body, html {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	font-family: monospace;
	color: {{ site.style.text }};
	overflow: none;
}
a, .clickable {
	text-decoration: none;
	color: {{ site.style.highlight }}
}
a:hover, .clickable:hover {
	text-shadow: 0.08em -0.08em {{ site.style.background-hex }};
	cursor:pointer;
	text-decoration: underline;
}
code.highlighter-rouge {
    background: {{ site.style.background-hex }};
    white-space: pre-wrap;
}
.background {
    background: rgba({{ site.style.background-rgb }} 0.9);
}
.nobr	{ white-space:nowrap; }
/* Force mobile browsers not to remove their
url bar when scrolling.
It breaks basically the whole layout */
@media (max-width: 500px){
	html{
		overflow-y: hidden;
	}
	body{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}
