#splash-container, .blank-page{
	width: 100%;
	height: 100vh;
	position: relative;
}
#splash-container {
	margin-bottom: 40px;
}
#splash{
	display: block;
	width: 80vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Different looks for non-mobiles... */
@media (min-width: 800px){
	#splash {
		width: 45vw;
	}
}
#image {
	background-position: center;
	background-size: cover;
	width: 20vh;
	height: 20vh;
	border-radius: 30vh;
	background-image: url("/assets/images/{{ page.image }}");
	margin: 0 auto;
}
#text{
	display: inline-block;
	font-weight: bold;
	font-family: monospace;
	font-size: 2.4vh;
	color: {{ site.style.text }};
	line-height: 2;
}
#text p {
	text-align: justify;
}
#text > a {
	color: {{ site.style.highlight }};
	font-size: 2.5vh;
	text-decoration: none;
}
#microposts {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#microposts h4 {
	margin-bottom: 5px;
}