body{
	font-family: monospace;
	color: #dcdccc;
	background-color: #3f3f3f;
}
p, pre{
	margin: 0;
}
.ls {
	display: inline;
}
.lsdir {
	color: #3f3fff;
	font-weight: bold;
}
.pink {
	color: #ff5f5f;
	font-weight: bold;
}
.hugright {
	display: block;
	float: right;
}
.off {
	background-color: #000;
}