body{
	font-family: monospace;
	color: #dcdccc;
	background-color: #3f3f3f;
	overflow-wrap: break-word;
}
p, pre{
	margin: 0;
}
.cat {
	white-space: pre-wrap;
}
.ls {
	display: inline;
}
.lsdir {
	color: #3f3fff;
	font-weight: bold;
}
.pink {
	color: #ff5f5f;
	font-weight: bold;
}
.hugright {
	display: block;
	float: right;
}
.off {
	background-color: #000;
}
.blogpost p {
	margin: 1em 0;
}
.blogpost a {
	color: #fff;
}
img {
	margin: 0 auto;
	display: block;
}
img+em {
	display: block;
	text-align: center;
}
