---
---
body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#nav {
	padding-top: 5px;
  line-height:0;
	background: rgba(55, 55, 49, 0.9);
	font-family: monospace;
	text-align:justify;
	color: {{ site.style.text }};
}
#nav:after {
  content:'';
  display:inline-block;
  width:99%;
}
#nav > * {
	line-height:3vh;
  display:inline-block;
}
#nav a {
	display: inline;
	color: {{ site.style.text }};
	text-decoration: none;
}
#nav ul {
	display: inline-block;
	margin: 0;
	text-align: right;
	list-style: none;
}
#nav ul li {
	right: 0;
	padding: 20px 3vw 5px 3vw;
	display: inline;
}
#nav a > p {
	display: inline;
	font-size: 3vh;
}
#nav > a {
	color: {{ site.style.highlight }};
	bottom: 0;
}
#nav > a > p {
	padding: 5px 5px 5px 5px;
	top: initial;
	bottom: 0;
}



