html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#header-main {
	overflow: hidden;
  position: relative;
	width: 100%;
	background: rgba(55, 55, 49, 0.9);
}
#header-main *{
	font-weight: bold;
	font-family: monospace;
}
#header-main > p {
	display: inline-block;
	color: #d05d5d;
	font-size: 18px;
	margin: 5px 5px 5px 5px;
}
#header-links {
	display: inline-block;
	position: absolute;
	right: 0;
	height: 100%;
  top: 0;
}
#header-links > a {
	display: inline-block;
	color: #cfcfc9;
	font-size: 16px;
	text-decoration: none;
	width: 10vw;
	min-width: 100px;
	height: 100%;
}
#header-links > a > span {
	width: 10vw;
	text-align: center;
	position: absolute;
	bottom: 5px;
}
#header-links > a:hover{
	background: rgba(14, 14, 12, 0.75);
}
#header-links > a:active{
background: rgba(14, 14, 12, 0.75);
	position: relative;
	top: 3px;
}
