---
---
#splash {
	display: block;
	position: absolute;
	max-width: 800px;
  top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#image {
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 150px;
}
#text{
	display: inline-block;
	font-weight: bold;
	font-family: monospace;
	font-size: 16px;
	color: {{ site.style.text }};
}
#text > a {
	color: {{ site.style.highlight }};
	font-size: 18px;
	text-decoration: none;
}
