---
layout: default
inline_css:
- category
---
<div id="index">
    <header>
	    <h1>{{ page.category }}</h1>
	    <p>View <a href="/archive/">all posts</a>.</p>
	</header>
	<table>
	{% assign stuff = site.categories[page.category] | concat: site.micro | sort: 'date' | reverse | where_exp: "item", "item.categories contains page.category" %}
	{% for post in stuff %}
		<tr class="{% if post.micro == true %}micro{% else %}post{% endif %}">
			<td><h1><time>{{ post.date | date: "%d %b '%y" }}<time></h1></td>
			<td><a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1><p>{{ post.summary }}</p></a></td>
		</tr>
	{% endfor %}
	</table>
</div>
