---
---
<!DOCTYPE html>
<html lang="en">
	<head>
	{% include sitewide.html %}
	<link rel="dns-prefetch" href="//www.google-analytics.com" />
	<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
	<meta name="google-site-verification" content="9pNs8vHQ1C9hsyUgQ6tFQDPzNH_ANAd8kB9GcnBARYc" />
	<!-- This whole section is incredibly ugly, but unfortunately necessary 
	as liquid 3.0.6 does not support concat !-->
	{% assign delim = "|" %}
	<!-- Custom Includes - use custom_style_includes in YAML front matter !-->
	{%- capture include_to_scssify -%}
		{%- unless page.nopresets -%}
			{%- include presets.css -%}
		{%- endunless -%}
		{%- unless page.donotlinkback -%}
			{%- include linkback.css -%}
		{%- endunless -%}
		{%- include master.scss -%}
	{%- endcapture -%}
	<style>
		{{ include_to_scssify | scssify }}
	</style>
	<!-- Custom Stylesheets - use custom_css in YAML front matter !-->
	{% assign had_elements = "" %}
	{% if page.custom_css %}
		{% for stylesheet in page.custom_css %}
			{% capture had_elements %}{{ had_elements | join: delim }}{{ delim }}{{ stylesheet }}{% endcapture %}
			{% assign had_elements = had_elements | split: delim %}
			<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" type="text/css">
		{% endfor %}
	{% endif %}
	{% if layout.custom_css %}
		{% for stylesheet in layout.custom_css %}
			{% if had_elements contains stylesheet %}{% else %}
				<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" type="text/css">
			{% endif %}
		{% endfor %}
	{% endif %}
	</head>
	<body>
		{% if page.donotlinkback %}{% else %}
		<nav id="linkback"><a href="/"><img src="/assets/images/jetroid-logo-miami.png" /></a></nav>
		{% endif %}
		{{ content }}
		<!-- Custom JS (as seperate file) - use custom_js in YAML front matter !-->
		{% assign had_elements = "" %}
		{% if page.custom_js %}
			{% for js_file in page.custom_js %}
				{% capture had_elements %}{{ had_elements | join: delim }}{{ delim }}{{ js_file }}{% endcapture %}
				{% assign had_elements = had_elements | split: delim %}
				<script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
			{% endfor %}
		{% endif %}
		{% if layout.custom_js %}
			{% for js_file in layout.custom_js %}
				{% if had_elements contains js_file %}{% else %}
					<script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
				{% endif %}
			{% endfor %}
		{% endif %}
		<script>
		{% include analytics.min.js %}
		{% assign had_elements = "" %}
		{% if page.custom_js_includes %}
			{% for script in page.custom_js_includes %}
				{% capture had_elements %}{{ had_elements | join: delim }}{{ delim }}{{ script }}{% endcapture %}
				{% assign had_elements = had_elements | split: delim %}
				{% include {{ script }}.min.js %}
			{% endfor %}
		{% endif %}
		{% if layout.custom_js_includes %}
			{% for script in layout.custom_js_includes %}
				{% if had_elements contains script %}{% else %}
					{% include {{ script }}.min.js %}
				{% endif %}
			{% endfor %}
		{% endif %}
		</script>
	</body>
</html>
