---
layout: default
custom_style_includes:
- blog
- background
background: 
 image: background-blog.jpg
 color: "#848485"
---
<div id="page-header">
	<a href="{{ page.url | prepend: site.baseurl }}"><h1 id="page-title">{{ page.title }}</h1></a>
	<p id="page-subtitle">{{ page.summary }}</p>
</div>
<div class="post-container">
	<a href="{{ page.url | prepend: site.baseurl }}"><h2 class="post-title">{{ page.title }}</h2></a>
	<p class="post-date">{{ page.date | date: "%Y/%m/%d" }}</p>
	<div class="divider"></div>
  {{ content }}
	<div class="divider"></div>
</div>
<div id="navigation">
	{% if page.previous.url %}
		<a id="prev-post" href="{{page.previous.url}}">&lsaquo;{{page.previous.title}}</a>
	{% else %} <p id="prev-post">&nbsp;&nbsp;---</p>
	{% endif %}
	{% if page.next.url %}
		<a id="next-post" href="{{page.next.url}}">{{page.next.title}}&rsaquo;</a>
	{% else %} <p id="next-post">---&nbsp;&nbsp;</p>
	{% endif %}
</div>

