---
layout: default
custom_style_includes:
- blog
- background
background: "background-blog.jpg"
background-color: "#848485"
---
<header id="page-header">
	<a href="{{ page.url | prepend: site.baseurl }}"><h1 id="page-title" class="borders">{{ page.title }}</h1></a>
	<p id="page-subtitle" class="borders">{{ page.summary }}</p>
</header>
<article class="post-container background borders">
	<header>
		<h2 class="post-title"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
		<time class="post-date">{{ page.date | date: "%Y/%m/%d" }}</time>
	</header>
	<div class="divider"></div>
	<div id="post-content">
		{{ content }}
	</div>
	<div class="divider"></div>
</article>
<footer id="navigation" class="background borders">
	{% if page.previous.url %}
		<a id="prev-post" href="{{page.previous.url}}">&lsaquo;{{page.previous.title}}</a>
	{% else %} <p id="prev-post">&nbsp;&nbsp;---</p>
	{% endif %}
	{% if page.next.url %}
		<a id="next-post" href="{{page.next.url}}">{{page.next.title}}&rsaquo;</a>
	{% else %} <p id="next-post">---&nbsp;&nbsp;</p>
	{% endif %}
</footer>

